@{
    ViewData["Title"] = "Home Page";
}
@model LoginUser

<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Register</h1>
            <br>
            <partial name="NavPartial"/>
        </div>
        <div class="col">
            <br>
            <h1>Login</h1>
            <br>
            <form asp-action="LoginUser" asp-controller="Home" method="POST">
                <span asp-validation-for="Email"></span>
                Email: <input class="form-control" asp-for="Email">
                <span asp-validation-for="Password"></span>
                Password: <input class="form-control" asp-for="Password">
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>